html, body { height: 100%; width: 100%; margin: 0;padding:0;min-height: 100%; position: relative;} 
.wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#home_selection {
  margin-top: 28px;
}
#profile_selection {
  margin-top: 83px;
}
#flagged_qn {
  position: absolute;
  left: 24px;
  top: 28px;
}
.selection_menu {
  border-left: thick solid white;
  width:2px;
  height: 43px;
}
#home_ic {
  position: absolute;
  top: 35px;
  left:8px
}
#profile_ic {
  position: absolute;
  top: 90px;
  left:8px
}
#app_logo {
  position: absolute;
  left: 90px;
  top: 12px;
}
#app_name {
  position: absolute;
  left: 140px;
  top: 12px;
}
#leftpane {
  width: 3%;
  height: 100%;
  float: left;
  /*top:56px;*/
  position: absolute; 
  background-color: black;
}

#bottompane {
  width: 100%;
  height: 86px;
  background-color: #414042;
  position: absolute; 
  bottom: 0;
}
#user_name {
  font-size: larger;
  position: absolute;
  right: 132px;
  top: 17px;
  color:#fff;

}
#topBar-second {
  height: 43px;
  background: #23629F;
  color: #c6c4c4;
}
#signout-btn {
  background: #23629F;
  color:#fff;
  border: 0;
  font-size: small;
  height: 31px;
  width: 93px;
  margin-top: 13px;
  border-radius: 3px;
  float: right;
  margin-right: 20px;
}
#topBar-first {
  height : 57px;
  background: #414042;
}
.content {
  display: flex;
  flex: 1;
  color: #000; 
}
.columns{
  display: flex;
  flex:1;
}
.main{
  display: inline-table;
  flex:1 1 auto;
  font-family: sans-serif;
  margin-left: 75px;
  margin-right: 20px; 
  margin-top: 26px;
  border-radius: 20px 20px 20px 20px;
  padding: 20px;
  order: 2;
  position:relative;
  background: #DEDEDE;
  padding-bottom: 138px;
}
.sidebar-first{
  width: 0%;
  order: 1;
}
.sidebar-second{ 
  display: inline-table;
  padding-top: 20px; 
  padding-bottom: 44px;
  border-radius: 20px 0 0 20px;
  margin-top: 26px;
  width: 14%;
  order: 3;
  border: 2px solid grey;
  background: white;
}
hr {
  margin-left: 30px;
  margin-right: 40px;
}
h1 {
  text-align: center;
  font-size: large;
  line-height: 1.5; 
  margin: 0; 
}

.sidebar{
  border-radius: 0 20px 0 0;
  margin-top: -25px;
  position: fixed;
  width: 240px;
  left: -240px;
  height: 100%;
  background: #3a3a3a;
  transition: all .5s ease;
}
.sidebar header{
  border-radius: 0 20px 0 0;
  font-size: 28px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #1b1b1b;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
}
.sidebar a{
  display: block;
  height: 65px;
  width: 100%;
  color: white;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  border-left: 5px solid transparent;
  font-family: 'Open Sans', sans-serif;
  transition: all .5s ease;
  text-decoration: none;
}
a.active,a:hover{
  border-left: 5px solid #b93632;
  color: #b93632;
}
.sidebar a i{
  font-size: 23px;
  margin-right: 16px;
}
.sidebar a span{
  letter-spacing: 1px;
  text-transform: uppercase;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  border: 1px solid #262626;
  margin: -25px 15px;
  font-size: 29px;
  background: #262626;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  transition: all .5s ease;
}
label #cancel{
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel{
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}
@media(max-width : 860px){
  .sidebar{
    height: auto;
    width: 70px;
    left: 0;
    margin: 100px 0;
  }
  header,#btn,#cancel{
    display: none;
  }
  span{
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    visibility: hidden;
  }
  .sidebar a{
    height: 60px;
  }
  .sidebar a i{
    margin-left: -10px;
  }
  a:hover {
    width: 200px;
    background: inherit;
  }
  .sidebar a:hover span{
    opacity: 1;
    visibility: visible;
  }
}

.question_number {

  display: grid;
  padding-left: 15%;
  padding-right: 10%;
  grid-template-columns: 1fr 1fr;
  row-gap: 1em;
}
* {box-sizing: border-box;}


.question_number > input[type=button] {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #86888A;
  padding: 1em;
  color: whitesmoke;
  font-size: large;
}

.question_number > input[type=button]:focus {outline:0;}


.question {
  margin-top: 20px;
  position: relative;
  min-height: 150px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  color: #000;
  padding: 15px;
  font-size: x-large;
  width: 100%;
}
.question p {
  text-align: center;

}
.main .options {
  width: 100%;
}
.options-btn {
  border:0;
  font-size: 16px;
  width: 100%;
  height: 54px;
  border-radius: 20px;
}
.main .options ul {
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main .options ul li {
  position: relative;
  display: inline-block;
  background-color: rgb(255, 255, 255);
  width: 47%;
  padding: 0px;
  height: 54px;
  border-radius: 8px;
  margin-top: 30px;
  margin-bottom: 0px;
  color: #000;
}

.answer-active {
  border: 3px solid green;
}
.answers {
  margin-top: 19px;
  margin-right: 126px;
  font-size: xx-large;
}
input[type="radio"]:checked {
  background-color: #ffa500;
    border-radius: 15px;
    border: 4px solid #dfdfdf;
}
li {
  float: left;
}

.progress_btns {
  margin-top: 15px;
  width: 20%;
  height: 40px;
  color: #fff;
  background-color: #e64b50;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  text-align: center;
}
progress {
  position: absolute;
  left: 100px;
	border: 0;
	width: 30%;
  height: 18px;
  text-align:center;
  border-radius: 9px;
  margin-top: 39px;
  margin-left: 228px;
}

progress:before {
  color: white;
  content: attr(data-label);
}

progress::-webkit-progress-bar {
  background-color: #c9c9c9;
}
#bottompane .moving_buttons #next_btn {
  position: absolute;
  top: 5px;
  bottom: 41px;
  left: 200px;
}

#time_counter {
  color: white;
  position: absolute;
  right: 50px;
  top: 30px;
  font-size: x-large;
}
#time_counter_real_quiz {
  color: white;
  position: absolute;
  left: 129px;
  top: 64px;
  font-size: x-large;
}

.checkmark {
  display:inline-block;
  width: 22px;
  height:18px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  margin-left: 169px;
  position: absolute;
  right: 0;
  margin-right: 32px;
  margin-top: 4px;
  visibility: hidden;
}

.checkmark_circle {
  position: absolute;
  width:22px;
  height:22px;
  background-color: green;
  border-radius:11px;
  left:0;
  top:0;
}

.checkmark_stem {
  position: absolute;
  width:3px;
  height:9px;
  background-color:#fff;
  left:11px;
  top:6px;
}

.checkmark_kick {
  position: absolute;
  width:3px;
  height:3px;
  background-color:#fff;
  left:8px;
  top:12px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#submit_quiz {
  color: white;
  background: #58a3d2;
  float: right;
  height: 43px;
  width: 126px;
  font-size: larger;
}

#left_pane {
  position: absolute;
  top: 100px;
  bottom: 0;
  background: #f1f1f1;
  width: 85%;
  padding: 20px;
}

#question_section {
  float: left;
  height: 100px;
  width: 50%;
}

#question_number {
  float: left;
  font-size: x-large;
  clear: left;
  height: 50px;
  width: 100%;
  background: white;
  text-align: center;
}

#qn_id {
  float: left;
  clear: left;
  font-size: x-large;
  background: white;
  margin-top: 10px;
  width: 100%;
  padding: 40px;
  min-height: 100px;
  text-align: center;
}

.options_quiz {
  padding-top: 8px;
  padding-left: 20px;
  float: right;
  font-size: x-large;
  clear: right;
  width: 48%;
  margin-bottom: 20px;
  min-height: 50px;
  background: white;
}
#answer_section {
  float: right;
  height: 100px;
  width: 50%;
}

.dot {
  height: 33px;
  text-align: center;
  padding-top: 2px;
  width: 33px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

#quiz_footer {
  width: 85%;
  height: 86px;
  background-color: #414042;
  position: absolute; 
  bottom: 0;
}
#quiz_footer .moving_buttons .progress_btns {
  margin-top: 22px;
  margin-right: 20px;
  float: right;
  width: 12%;
  height: 40px;
  color: #fff;
  background-color: #e64b50;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  text-align: center;
}

#quiz_footer .moving_buttons .progress_btns #next_btn{
  position: absolute;
  top: 5px;
  bottom: 41px;
  left: 200px;
}

#prev_btn {
  position: absolute;
  right:200px;
  bottom: 41px;
  top: 0px;
}
#clear_btn {
  position: absolute;
  bottom: 41px;
  top: 5px;
  left: 24px;
}

/* Popup box BEGIN */
.hover_bkgr_fricc{
  background:rgba(0,0,0,.4);
  cursor:pointer;
  display:none;
  height:100%;
  position:fixed;
  text-align:center;
  top:0;
  width:100%;
  z-index:10000;
}
.hover_bkgr_fricc .helper{
  display:inline-block;
  height:100%;
  vertical-align:middle;
}
.hover_bkgr_fricc > div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 551px;
  min-height: 100px;
  vertical-align: middle;
  width: 60%;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
}
.popupCloseButton {
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}
.popupCloseButton:hover {
  background-color: #ccc;
}
.trigger_popup_fricc {
  cursor: pointer;
  font-size: 20px;
  margin: 20px;
  display: inline-block;
  font-weight: bold;
}
/* Popup box BEGIN */

#rightpane {
  float: right;
  width: 15%;
}
#media {
  padding: 10px;
  float: left;
  clear: left;
  font-size: x-large;
  background: white;
  margin-top: 10px;
  width: 100%;
  min-height: 100px;
  text-align: center;
}

#percent_data {
  position: absolute;
  left: 40%;
  top: 7px;
  font-size: x-large;
  color: white;
}

#unanswered_color {
  width: 20px;
  float: left;
  margin-top: 10px;
  clear: both;
  height: 20px;
  border-radius: 50%;
  background: grey;
}

#bookmarked_color {
  width: 20px;
  float: left;
  margin-top: 10px;
  clear: both;
  height: 20px;
  border-radius: 50%;
  background: #23629F;
}

#answered_color {
  float: left;
  margin-top: 10px;
  clear: both;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #53a66b;
}
.color_legend {
    float:left;
    margin-top: 10px;
    margin-left: 10px;
    font-size: large;
}

#colors_section {
  margin-top: 20px;
  margin-left: 40px;
}

#question_img {
  max-width: 500px;
  max-height: 250px;
}

.error_answer {
  color:red; 
  visibility: hidden;
}
#correct_answer {
  visibility: hidden;
}
.selected-answer {
  border: 3px solid #23629F;
}

#submit_btn {
  visibility: hidden;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 34%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 6px 0px;
  background-color: #23629F;
  color: white;
  text-align: center;
  font-size: larger;
}

.modal-body {
  padding-bottom: 10px;
  text-align: center;}

.modal-footer {
  padding: 2px 16px;
  background-color: #23629F;
  color: white;
}