
 
    .headingCentered2 {
        margin-top: 14px;
        margin-right: 20%;
        text-align: right;
        font-size: 2.5em;
        font-weight: 700;
        font-family: open sans condensed,sans-serif;
    }
    #piechart {
        background-image: none;
        position: absolute;
        top: 20%;
        margin-left: 50px;
    }
    #right_content {
        position: absolute;
        top: 25%;
        right: 0;
        margin-right: 30%;
    }
   table {

       font-size: 25px;
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }
   button:disabled,
    button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
  

   #bottom_content {
       top: 60%;
       margin-right: 50px;
       right: 0;
       padding-left: 20px;
    position: absolute;
    width: 610px;
    height: 90px;
    border-style: ridge;
  }

  #congrats {
      font-weight: bold;
      color: maroon;
      font-style: italic;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 25px;
      position: absolute;
      top: 51%;
      margin-right: 250px;
      right: 0;
  }

  #bottom_content p {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #0a8a3f;
      font-size: 20px;
      font-weight: bold;
  }
  
  #bottom_buttons {
    top: 80%;
    margin-right: 50px;
    right: 0;
 position: absolute;
 width: 610px;
 height: 90px;
}

.bottom_buttons {
    width: 200px;
    height: 35px;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
    }
    @media all and (max-width:30em){
         .bottom_buttons{
        display:block;
        margin:0.2em auto;
        }
        }
        .progress-buttons {
          background: #23629F;
          color:#fff;
          border: 0;
          font-size: small;
          height: 47px;
          min-width: 120px;
          border-radius: 3px;
        }



  



  