.container {
    right: 1%;
    position: absolute;
    top: 23%;
    width: 650px;
    height: 452px;
    border-width: 3px;
    border-color: rgb(138, 138, 138);
    border-style: solid;
}
 
.wrapper {
    background-color: #fff;
}
    .headingCentered2 {
        margin-top: 14px;
        margin-right: 20%;
        text-align: right;
        font-size: 2.5em;
        font-weight: 700;
        font-family: open sans condensed,sans-serif;
    }
    #piechart {
        background-image: none;
        position: absolute;
        top: 20%;
        margin-left: 50px;
    }
    #right_content {
        position: absolute;
        top: 36%;
        right: 0;
        margin-right: 31%;
    }
   table {
       padding: 5px;
       border-radius: 5px;
       right: 12%;
       border: 1px solid #bdbdbd;
       position: absolute;
       width: 300px;
       height: 120px;

       font-size: 25px;
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }
   table td {
       color: rgb(3, 3, 3);
       font-size: 31px;
       font-family: 'Times New Roman', Times, serif;
       text-shadow: lightblue;
       
   }
   button:disabled,
    button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
  

   #bottom_content {
       top: 60%;
       margin-right: 7px;
       right: 0;
       padding-left: 20px;
    position: absolute;
    width: 610px;
    height: 90px;
    border-style: ridge;
  }

  #congrats {
      font-weight: bold;
      color: maroon;
      font-style: italic;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 25px;
      position: absolute;
      top: 51%;
      margin-right: 250px;
      right: 0;
  }

  #bottom_content p { 
      font-family:initial ;
      margin-top: 13px;
      color: #0a8a3f;
      font-size: 25px;
      font-weight: bold;
  }
  #bottom_content {
      right: 4%;
      top: 67%;
    position: absolute;
  }
  
  #bottom_buttons {
    top: 89%;
    right: -58px;
 position: absolute;
 width: 620px;
 height: 90px;
}

.bottom_buttons {
    width: 200px;
    height: 35px;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
    }
    @media all and (max-width:30em){
         .bottom_buttons{
        display:block;
        margin:0.2em auto;
        }
        }
        .progress-buttons {
          background: #23629F;
          color:#fff;
          border: 0;
          font-size: small;
          height: 47px;
          min-width: 120px;
          border-radius: 3px;
        }
        #congrats {
            top: 17%;
            right: 8%;
            font-size: 40px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-style: normal;
            position: absolute;
            color: #23629F;
          }
          #sub_head {
            top: 27%;
            right: 19%;
            font-size: large;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-style: normal;
            position: absolute;
            color: rgb(107, 114, 121);
          }


        #heading{
            right: 15px;
            position: absolute;
            top: 123px;;
            background-color: #23629F;
            width: 150px;
            height: 40px;
          }
          #heading label{
            padding: 8px 15px;
            font-weight: bold;
            font-size: 22px;
            position: absolute;
            color: #fff;
          }

          .percentage {
              right: 42%;
              bottom: 69%;
              position: absolute;
              border-radius: 5px;
              background-color: #f49528;
              height: 60px;
              width: 200px;
          }
          #smiley {
              right: 9%;
              top: 15%;
              position: absolute;
            font-size: 120px;
          }

          #score_percent {
              font-weight: bolder;
              font-style: normal;
              align-items: center;
              padding: 52px;
              font-weight: bold;
              font-size: 50px;
              color: rgb(255, 255, 255);
          }

          
  



  